<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="trab2-lp4-rabbitfastPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>br.auadottonizaidem.entity.RotaPercurso</class>
    <class>br.auadottonizaidem.entity.Veiculo</class>
    <class>br.auadottonizaidem.entity.Entrega</class>
    <class>br.auadottonizaidem.entity.PontoReferencia</class>
    <class>br.auadottonizaidem.entity.Status</class>
    <class>br.auadottonizaidem.entity.Empresa</class>
    <class>br.auadottonizaidem.entity.Cliente</class>
    <class>br.auadottonizaidem.entity.Rota</class>
    <class>br.auadottonizaidem.entity.Localidade</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/db_entregas?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
